<plot>
    <<include Input/conf/FC-Histogram.conf.template>>
    file = ProcessedData/OUTPUT_FILE/Imprint-Fold-Change.bedgraph
    r1   = 0.60r
    r0   = 0.50r        
</plot>

# Imprinted name track.
<<include Input/conf/ImprintNames.conf.template>>